/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.btn-withicon {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding: 14px 10px 14px 42px;
	min-height: 54px;
	gap: 10px;
	text-align: right;
	color: var(--white-color);
	font-size: 19px;
	line-height: 22px;
	font-weight: 900;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: var(--global-color);
	transition: .3s ease;
	img {
		width: 26px;
		height: 26px;
		position: absolute;
		left: 10px;
	}
	&:hover {
		opacity: 0.9;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}