/*----header-----*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  &__logo {
    flex-shrink: 0;
    width: 128px;
    margin: 0 36px;
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;
    height: 110px;
  }
  &__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        transition: opacity .3s ease;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.nav {
  &__toggle {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #D5924B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    cursor: pointer;
  }
  &__menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 370px;
    max-width: 90%;
    height: 100vh;
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid rgba(238, 238, 238, 0.70);
    background: rgba(181, 181, 181, 0.52);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    transition: all .3s ease;
  }
  &__list {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
    li {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      a {
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        color: #fff;
        &:hover {
          color: var(--global-color);
        }
      }
    }
  }
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
    .logo {
      width: 90px;
    }
  }
  &__contacts {
    text-align: right;
    a {
      font-size: 13px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      color: #fff;
      &:hover {
        color: var(--global-color);
      }
    }
    .phone {
      font-size: 19px;
      margin-bottom: 6px;
    }
    .schedule {
      margin-top: 0;
      margin-bottom: 18px;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 28px;
    .btn-withicon {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

/* Lang */
.lang {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  &:hover {
    color: var(--global-color);
  }
}

/* Show menu */
.nav__menu.show-menu {
  left: 0;
  z-index: 1000;
}

@include tablet {
  .header {
    &__logo {
      width: 90px;
      margin: 0 20px;
    }
    &__container {
      padding-top: 24px;
      height: auto;
    }
    &__bar {
      &-btns {
        display: none;
      }
    }
  }
  .nav {
    &__toggle {
      margin-top: 0;
    }
    &__list {
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        a {
          font-size: 20px;
        }
      }
    }
  }
  /* Lang */
  .lang {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px;
  }
}

@include mobile {
  .nav {
    &__head {
      flex-direction: column;
      .logo {
        margin-bottom: 16px;
      }
    }
    &__contacts {
      text-align: left;
    }
  }
}