/*-----title----*/
.heading {
	margin-bottom: 60px;
	.section-title {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
}

.section-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 56px;
	font-style: normal;
	font-weight: 900;
	line-height: 1.22;
	text-transform: uppercase;
	color: #000000;
}

@include tablet {
	.heading {
		margin-bottom: 40px;
		.section-title {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	.section-title {
		font-size: 36px;
	}
}
@include mobile {
	.heading {
		margin-bottom: 24px;
	}
	.section-title {
		font-size: 24px;
	}
}