.projects {
  &bl {
    background: #F3F3F3;
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .heading {
      text-align: right;
      margin-right: 240px;
    }
  }
  &-card {
    position: relative;
    padding: 28px;
    display: flex;
    width: 100%;
    aspect-ratio: 1 /1;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    &__title {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 36px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      transition: all .3s ease;
    }
    .tags {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: calc(100% - 40px - 60px);
      position: absolute;
      left: 28px;
      bottom: 28px;
      opacity: 0;
      transition: all .3s ease;
    }
    .tag {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 16px;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.5px;
      border-radius: 50px;
      background-color: #fff;
    }
    .btn-arrow {
      position: absolute;
      right: 28px;
      bottom: 28px;
      opacity: 0;
      transition: all .3s ease;
    }
    &__blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.40);
      transition: all .3s ease;
      z-index: -1;
    }
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 20px;
      z-index: -2;
    }
    &:hover {
      .projects-card__blur {
        background-color: rgba(0, 0, 0, 0.60);
      }
      .projects-card__title,
      .tags,
      .btn-arrow {
        opacity: 1;
      }
    }
  }
}

@include desktop {
  .projects {
    &bl {
      .heading {
        margin-right: 120px;
      }
    }
    &-card {
      padding: 20px;
      &__title {
        font-size: 28px;
      }
      .tags {
        left: 20px;
        bottom: 20px;
      }
      .btn-arrow {
        right: 20px;
        bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .projects {
    &bl {
      .heading {
        margin-right: 0px;
      }
    }
    &-card {
      &__title {
        font-size: 20px;
      }
    }
  }
}

@include tablet {
  .projects {
    &bl {
      .heading {
        margin-right: 0;
      }
      &__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
    }
    &-card {
      &__title,
      .tags,
      .btn-arrow {
        opacity: 1;
      }
      .btn-arrow {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@include mobile {
  .projects {
    &bl {
      &__cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
    }
  }
}