/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  // base
  --font-family: "Comfortaa", sans-serif;
  --font-montserrat: "Montserrat-Extrabold", "Comfortaa", sans-serif;

  --content-width: 1160px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #131313;
  --lightBlack-color: #292932;
  --font-color: #131313;

  --global-color: #E88320;
  // --green-color: #8BD27C;
  // --red-color: #FF3D00;

  --lightGrey-color: #F5F6F7;
  --grey-color: #E5E5E5;
}

/***** Mixins *****/
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin desktop {
  @media screen and (max-width: 1190px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";

/***** COMPONENTS GLOBAL *****/
// @import "blocks/header";
// @import "blocks/footer";
// @import "blocks/breadcrumbs";
// @import "blocks/pagination";
// @import "blocks/tags";
// @import "blocks/scroll-container";
// @import "blocks/accordion";
// @import "blocks/tabs";
// @import "blocks/tooltip";
// @import "blocks/hover-dpd";
// @import "blocks/click-dpd";
// @import "blocks/plyr";
// @import "blocks/carousel";
// @import "blocks/article";
// @import "blocks/sliders";
// @import "blocks/form";
// @import "blocks/modal";
// @import "blocks/components.scss";

/***** SECTIONS GLOBAL (Widgets) *****/



@media screen and (max-width: 390px) {
  :root {
    --container-offset: 10px;
  }
}


/***** ICONS *****/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
  content: "\e90f";
}
.icon-fliter:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-place:before {
  content: "\e90c";
}
.icon-postal:before {
  content: "\e90d";
}
.icon-tech:before {
  content: "\e90e";
}
.icon-arrow-next:before {
  content: "\e900";
}
.icon-arrow-prev:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e903";
}
.icon-chevron:before {
  content: "\e904";
}
.icon-chevron-big:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-remove:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-wallet:before {
  content: "\e90a";
}
