/***** GENERAL ELEMENTS *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --content-width: 1680px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --global-color: #D5924B;
  // --green-color: #8BD27C;
  // --red-color: #FF3D00;

  --lightGrey-color: #F5F6F7;
  --grey-color: #E5E5E5;
}

/***** Mixins *****/
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin desktop {
  @media screen and (max-width: 1190px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --container-offset: 15px;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";

/***** COMPONENTS GLOBAL *****/
@import "blocks/header";
// @import "blocks/footer";
// @import "blocks/breadcrumbs";
// @import "blocks/pagination";
// @import "blocks/tags";
// @import "blocks/scroll-container";
// @import "blocks/accordion";
// @import "blocks/tabs";
// @import "blocks/tooltip";
// @import "blocks/hover-dpd";
// @import "blocks/click-dpd";
// @import "blocks/plyr";
// @import "blocks/carousel";
// @import "blocks/article";
@import "blocks/sliders";
// @import "blocks/form";
// @import "blocks/modal";
// @import "blocks/components.scss";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero.scss";
@import "widgets/main-services.scss";
@import "widgets/projectsbl.scss";
@import "widgets/eventsbl.scss";